# A generated secret for Payload
PAYLOAD_SECRET=
OFFICIAL_WAITLIST_SYNC_TOKEN=
NOUMI_PRODUCT_API_URL=https://www.noumi.ai
POSTHOG_ENABLED=false
POSTHOG_PROJECT_KEY=
POSTHOG_BROWSER_API_HOST=https://e.noumi.ai
POSTHOG_UI_HOST=https://us.posthog.com
